html {
  box-sizing: border-box;
  background-color: rgb(197, 156, 93);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
}

.recipe-item {
  margin-bottom: 10px;
}